<div class="card phone-card mb-2" style="width: 18rem;">
    <div class="card-header">
        <h5 class="card-title">{{ phonebook.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h6>{{ 'phone'|trans }} <span class="badge badge-secondary">{{ phonebook.phone }}</span></h6></li>
    </ul>
</div>